  <header class="home" role="banner">
    <nav class="site-nav">
      <ul class="list-h">
        <li><a href="case-studies.html">WORK</a></li>
        <!-- <li><a href="">BLOG</a></li> -->
        <li ><a target="_" href="/assets/images/Tim_Proffitt_CV.pdf">RESUME</a></li>
      </ul>
    </nav>
    
    <nav class="connect">
      <ul class="list-h">
        <!-- <li class="connect-ovr">Connect</li> -->
        <li>
          <a href="http://open.spotify.com/user/tproff" target="_"> <i class="fa fa-spotify"></i> </a>
        </li>
        <li>
          <a href="https://dribbble.com/uxtx" target="_"> <i class="fa fa-dribbble"></i> </a>
        </li>
        <li>
          <a href="https://twitter.com/uxtx_tim" target="_"> <i class="fa fa-twitter-square"></i> </a>
        </li>
        <li>
          <a href="http://www.linkedin.com/pub/tim-proffitt/10/b5/963/" target="_"> <i class="fa fa-linkedin-square"></i> </a>
        </li>
      </ul>
    </nav>
  </header>