/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass";
@import "compass/reset";

@import "./modules/typography";


$base-orange: #d86b49;
$base-blue: #3b6e85;
$dark-text: #1a1a1f;
$gray1: #efdfee;


/* utility classes */
/* =============== */

.text-dashed{
    border-bottom: 1px dashed $dark-text;
}

/* modules */
/* =============== */

.hero{
    //background-color: lightblue;
    &.home{
        padding-bottom: 2em;
        padding-top: 2em;

        .logo{
            height: 240px;
        }

        .sections{
            @include horizontal-list;
        }
    }
}


header > nav{
    //@include adjust-font-size-to(20px);

    a, a:visited{
        color: $base-blue;
        text-decoration: none;
    }

    a:hover{
        color: darken($base-blue, 20%);
    }
}
