/* grid */
/* =============== */
@mixin unit{
    display: inline-block;
}

@mixin col-one-half{
    width: 49%;
}

@mixin container{
    width: 100%;
}

$effective-width: 970px;
$effective-width-sm: 100%;
$effective-width-md: 100%;
$effective-width-lg: 970px;
/* containers */
/* =============== */
.container{
    margin: auto;
    width: $effective-width;
}

.row{
    width: 100%;

    .unit{
        margin: auto;
        width: $effective-width;
    }
}
/* rows and groups */
/* =============== */
@for $i from 0 through 10{
  .color-stripe-#{$i}{
    @include color-switch($i);
  }
}



@include mq(small){
    .container{
        width: $effective-width-sm;
    }
    .row{
        .unit{
            margin: auto;
            width: $effective-width-sm;
        }
    }
}

@include mq(med){
    .container{
        width: $effective-width-md;
    }
    .row{
        .unit{
            margin: auto;
            width: $effective-width-md;
        }
    }
}

@include mq(large){
    .container{
        width: $effective-width-lg;
    }
    .row{
        .unit{
            margin: auto;
            width: $effective-width-lg;
        }
    }
}

