/* grid */
/* =============== */
@mixin unit{
    display: inline-block;
}

@mixin col-one-half{
    width: 49%;
}

.page{
    margin: auto;
    width: 970px;

}

@include mq(small){
    .page{
        width: 100%;
    }
}

@include mq(med){
    .page{
        width: 100%;
    }
}

@include mq(large){
    .page{
        width: 970px;
    }
}

