/* hero */
/* =============== */

.hero{
    //background-color: lightblue;
    &.home{
        padding-bottom: 2em;
        padding-top: 2em;
        text-align: center;

        .logo{
            height: 240px;
        }

        .list-h{
            @include adjust-font-size-to($h2);
            color: darken($base-blue, 10%);
            padding-top: $base-vertical-padding;

            > li{
                padding-right: $base-horiz-padding * 2;

                  &:last-child{
                    padding-right: 0;
                  }  
            }
        }
    }
}
