/* variables */
/* =============== */

$base-orange: #d86b49;
$base-blue: #3b6e85;
$dark-text: #1a1a1f;
$gray1: #efdfee;

$base-font-size: 16px;
$base-line-height: 24px;

$base-vertical-padding: .5em;
$base-horiz-padding: .25em;


