
$space-black: darken($midnight, 7%);
.fs-canvas {
    position: relative;
    width: 100%;
    height: 400px;
    text-align: center;

    -webkit-animation: fadein .85s; /* Safari, Chrome and Opera > 12.1 */
    -webkit-animation-iteration-count: 1;
    -moz-animation: fadein .85s; /* Firefox < 16 */
    -moz-animation-iteration-count: 1;
     -ms-animation: fadein .85s; /* Internet Explorer */
     -ms-animation-iteration-count: 1;
      -o-animation: fadein .85s; /* Opera < 12.1 */
      -o-animation-iteration-count: 1;
         animation: fadein .85s;
         animation-iteration-count: 1;

    >canvas {
        position: relative;
        width: 100%;
        //background-color: $midnight;
        @include background-image(linear-gradient(darken($midnight, 3%), $midnight 40%, $midnight));
    }




    >.static-scene {
        
        position: relative;
        

        &.text-content {
            top: -75%;
            color: $regalBlue;
        }

        &.img {
            width: 400px;
            bottom: 243px;
        }
    }    
}

.home {
    background-color: $solitude;
    >.text-content {
        top: 60%;
        padding-right: $base-horiz-padding;
        padding-bottom: $base-vertical-padding;
        padding-left: $base-horiz-padding;
        position: absolute;
        text-align: center;
        width: 100%;
        h1 {
            font-weight: bold;
        }
    }
    .list-h {
        a, a:visited{
            color: $base-orange;
        }

        a:hover{
            color: darken($base-orange, 20%);
        }
    }
}