%post-anchor{
    a, a:visited{
        color: inherit;
        font-weight: bold;
        text-decoration: none;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

    a:hover{
        background-color: tint($base-orange, 35%);
        transition: background-color 0.3s;
    }
}

.posts{
    @extend %post-anchor;
    .row{
        @include rhythm(0, 2,2, 0);
    }
}

.post{
    @extend %post-anchor;
    h1{
        @include rhythm(0,1,1,0)
    }
}
