/* media queries */
/* =============== */

@mixin mq($point) {
  @if $point == large {
    @media only screen 
        and (min-width : 769px) 
        { @content; }
  }
  @else if $point == med {
    @media only screen 
        and (min-width : 768px) 
        and (max-width : 1024px)
        { @content; }
  }
  @else if $point == small {
    @media only screen  
        and (max-width : 767px)
        { @content; }
  }
}

@mixin color-switch($i){
  @if $i % 5 == 4{
    background-color: tint($compound-blue, 5%);
    color: #fff;
  } 

  @else if $i % 5 == 3{
    background-color: tint($base-blue, 88%);
  }

  @else if $i % 5 == 2{
    background-color: tint($base-blue, 40%);
    color: #fff;
  }

  @else if $i % 5 == 1{
    background-color: $neutral-gray1; 
  }

  @else if $i % 5 == 0{
    background-color: tint($base-orange, 5%);
    color: #fff;
  }
}


/* utility classes */
/* =============== */

.text-dashed{
    border-bottom: 1px dashed $dark-text;
}

.list-h{
    @include inline-block-list;
}

.mb-half{
  @include margin-trailer(.5);
}

.mb-1{
  @include margin-trailer(1);
}