/* variables */
/* =============== */

$base-orange: #d86b49;
$base-blue: #3b6e85;
$compound-blue: #6175e8;
$dark-text: #1a1a1f;
$neutral-gray1: #efefef;

$midnight: #16303a; /* midnight */
$deepSea: #005260; /* deeep sea green*/
$blueStone: #17676b; /* blue stone*/
$donkeyBrown: #a58a7b; /* donkey brown*/
$hampton: #DED9B2; /* hampton*/
$solitude: #E9EFF0; /* solitude*/
$primary: #00B7FF;

$base-font-size: 22px;
$base-line-height: 33px;

$base-vertical-padding: .5em;
$base-horiz-padding: .25em;

$h1: 53.71px;
$h2: 42.96px;
$h3: 34.375px;
$h4: 27.5px;


