<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}assets/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/screen.css">

    </head>
    <body>
        
        <div class="home hero">
          <img class="logo" src="{{ site.baseurl }}/assets/images/Orange-Logo.png" alt="Tim Proffitt">
        </div>

        <header class="home" role="banner">
          <nav>
            <ul>
<!--               <li><a href="">ABOUT</a></li>
              <li><a href="">BLOG</a></li> -->
              <li ><a class="text-dashed" href="https://www.dropbox.com/s/yayyylvsumz42er/test_resume.txt">DOWNLOAD CV</a></li>
            </ul>
          </nav>
        </header>
    </body>
</html>
